$color-link: #4ba6db;
$color-underline: #654bdb;
$color-dark-blue: #030312;
$color-dark-purple: #4b1cc2;
$color-grey: #444;
$color-text: white;

$color-background: $color-grey;
$color-hero-background: #1c62c2;
$color-hero-background-2: $color-dark-purple;

$color-scheme-grey: #c2c8c5;
$color-scheme-turquoise: #4A707A;
$color-scheme-light-turquoise: #7697A0;
$color-scheme-light-blue: #94B0B7;
$color-scheme-light-grey: #DDDDDA;