$color-link: #4ba6db;
$color-underline: #654bdb;
$color-dark-blue: #030312;
$color-dark-purple: #4b1cc2;
$color-grey: #444;
$color-text: white;

$color-background: $color-grey;
$color-hero-background: #1c62c2;
$color-hero-background-2: $color-dark-purple;